@import "./color_definition"

.Accounting
	.PaySheetContainer
		.PaySheet
			padding				13px
			color				$color_yellow
			font-size			11px
			.Group
				margin-top		13px
				margin-right	13px
				vertical-align	top
				display			inline-block
			.Summary
				font-size		18px
		.PaySheetPunchRecord
			th, td
				padding			0px
				margin			0px
				width			70px
				height			70px
				text-align		center
			td
				font-size		11px
			th
				background		$color_green
			th.Dark
				background		$color_green_dark
			td.Dark
				background		$color_gray_dark
			td.DarkLight
				background		$color_gray_dark_light