@import "nib"
@import "./color_definition"

$left-column-padding = 8px

.ActionAndPeopleContainer
	background					rgb(4, 4, 4)
	overflow					scroll
	-webkit-overflow-scrolling	touch

	.Head, .Item
		width			96.672212978369%
		margin			auto
		border-left		solid 0.5px $color_yellow
		border-right	solid 0.5px $color_yellow
		border-bottom	solid 0.5px $color_yellow
		> div
			display			inline-block
			vertical-align	top
			padding-left	$left-column-padding
		.LeftColumn
			width			61.101549053356%
		.RightColumn
			width			38.88%
	
	a
		.Head, .Item
			width			96.672212978369%
			margin			auto
			border-left		solid 0.5px $color_yellow
			border-right	solid 0.5px $color_yellow
			border-bottom	solid 0.5px $color_yellow

	.Head
		height				64px
		color				#FFFFFF
		font-size			20px
		padding-top			32px
	
	$item-height = 70px
	.Item
		position			relative
		height				$item-height
		&.IconItem
			color			$color_green
			i
				padding-left	$left-column-padding
				width			50px
				font-size		44px
				line-height		$item-height
			> div
				font-size		17px
				font-weight		bold
				height			$item-height
				line-height		$item-height
			&.AdministratorMode
				color			$color_white
				> div
					font-size	25px
		&.People
			$icon-size = 52px
			
			> div
				height				$icon-size
				padding-top			(($item-height - $icon-size) / 2)
				opacity				0.3
			&.Active
				> div
					opacity			1
			
			.Icon
				display				inline-block
				vertical-align		top
				width				$icon-size
				background			$color_white
				color				$color_black
				text-align			center
				overflow			hidden
				border-radius		($icon-size / 2)
				.Avatar
					height			$icon-size
					width			$icon-size
				&.Yellow
					background		$color_yellow
					color			$color_white
				> i
					font-size		30px
					line-height		$icon-size
			.NameAndIDNumber
				display				inline-block
				vertical-align		top
				width				36.206896551724%
				color				#FFFFFF
				font-size			16px
				font-weight			bold
				padding-left		$left-column-padding
				> div
					padding-top		4px
			.Title
				display				inline-block
				line-height			$icon-size
				color				$color_white
				padding-left		$left-column-padding
			.ScoreTitle
				color				$color_green
				padding-top			4px
				font-size			12px
				.Up
					color			rgb(208, 0, 11)
				.Down
					color			rgb(51, 255, 10)
			.ScoreValue
				color				$color_green
				font-size			27px
			
		.btn
			position			absolute
			top					0px
			left				0px
			width				100%
			height				100%
			background			none
			border				none