$color_black = rgb(4, 4, 4)
$color_white = rgb(255, 255, 255)
$color_gray_dark = rgb(35, 35, 35)
$color_gray_dark_light = rgb(50, 50, 50)
$color_gray_light = rgb(94, 94, 94)
$color_gray = rgb(117, 117, 117)
$color_green = rgb(20, 155, 153)
$color_green_dark = rgb(16, 114, 119)
$color_yellow = rgb(249, 149, 23)
$color_orange = rgb(246, 48, 23)