@import "nib"
@import "./color_definition"

.NumericKeypad
	$key-size = 100px
	.Key
		position		absolute
		width			$key-size
		height			$key-size
		font-size		70px
		line-height		$key-size
		text-align		center
		border-radius	($key-size / 2)
		color			$color_white
		text-shadow		3px 3px 3px #333333
		background		$color_gray
		i
			font-size	60px
		&.SmallText
			font-size	30px
		&.Active
			background	$color_green
			&.Touching
				background	$color_gray
				border		solid 1px $color_green
			&.YellowKey
				background	$color_yellow
				&.Touching
					background	$color_gray
					border		solid 1px $color_yellow
			&.OrangeKey
				background	$color_orange
				&.Touching
					background	$color_gray
					border		solid 1px $color_orange
		&.NotFill
			background	none
			border		solid 1px $color_gray
			color		$color_gray
			text-shadow	none
			&.Active
				border	solid 1px $color_green
				color	$color_green
		for index in (0..3)
			&.Row{index}
				top		(index * 140px) + 55px
			&.Column{index}
				left	(index * 140px) + 55px
	.Logout
		position		absolute
		top				620px
		left			503px
		color			$color_yellow
		font-size		16px