html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}
div {
  font-family: "HelveticaNeue";
}
.MainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.MainContainer .MainMenu {
  display: inline-block;
  vertical-align: top;
  width: 8.740234375%;
  height: 100%;
  background: #f99517;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.MainContainer .MainMenu > div {
  width: 100%;
  border-bottom: solid 0.5px #fcac1a;
}
.MainContainer .MainMenu .Logo {
  height: 64px;
}
.MainContainer .MainMenu .Item {
  height: 70px;
  text-align: center;
}
.MainContainer .MainMenu .Item a {
  text-decoration: none;
}
.MainContainer .MainMenu .Item i {
  margin-top: 8px;
  font-size: 42px;
  color: #040404;
}
.MainContainer .MainMenu .Item .Description {
  margin-top: 5px;
  font-size: 8px;
  text-decoration: none;
  color: #040404;
}
.MainContainer .FunctionContainer {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 91.259765625%;
  height: 100%;
}
.MainContainer .FunctionContainer .FunctionMenuContainer {
  display: inline-block;
  vertical-align: top;
  width: 32.102728731%;
  height: 100%;
  background: #040404;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.MainContainer .FunctionContainer .FunctionContentContainer {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 67.897271269%;
  height: 100%;
  background: #1d1d1d;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.MainContainer .FunctionContainer .FunctionContentContainer .HeadArea {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
}
.MainContainer .FunctionContainer .FunctionContentContainer .HeadArea .Title {
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #757575;
  padding-left: 13px;
  padding-top: 32px;
}
.MainContainer .FunctionContainer .FunctionContentContainer .ContentAreaContainer {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 64px;
  bottom: 0px;
}
.MainContainer .FunctionContainer .FunctionContentContainer .ContentAreaContainer .ContentArea {
  min-height: 100%;
  background: url("../image/main_content_background.png") repeat;
  background-size: 70px 70px;
}
.ActionAndPeopleContainer {
  background: #040404;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.ActionAndPeopleContainer .Head,
.ActionAndPeopleContainer .Item {
  width: 96.672212978369%;
  margin: auto;
  border-left: solid 0.5px #f99517;
  border-right: solid 0.5px #f99517;
  border-bottom: solid 0.5px #f99517;
}
.ActionAndPeopleContainer .Head > div,
.ActionAndPeopleContainer .Item > div {
  display: inline-block;
  vertical-align: top;
  padding-left: 8px;
}
.ActionAndPeopleContainer .Head .LeftColumn,
.ActionAndPeopleContainer .Item .LeftColumn {
  width: 61.101549053356%;
}
.ActionAndPeopleContainer .Head .RightColumn,
.ActionAndPeopleContainer .Item .RightColumn {
  width: 38.88%;
}
.ActionAndPeopleContainer .Head {
  height: 64px;
  color: #fff;
  font-size: 20px;
  padding-top: 32px;
}
.ActionAndPeopleContainer .Item {
  position: relative;
  height: 70px;
}
.ActionAndPeopleContainer .Item.IconItem {
  color: #149b99;
}
.ActionAndPeopleContainer .Item.IconItem i {
  padding-left: 8px;
  width: 50px;
  font-size: 44px;
  line-height: 70px;
}
.ActionAndPeopleContainer .Item.IconItem > div {
  font-size: 17px;
  font-weight: bold;
  height: 70px;
  line-height: 70px;
}
.ActionAndPeopleContainer .Item.IconItem.AdministratorMode {
  color: #fff;
}
.ActionAndPeopleContainer .Item.IconItem.AdministratorMode > div {
  font-size: 25px;
}
.ActionAndPeopleContainer .Item.People > div {
  height: 52px;
  padding-top: 9px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.ActionAndPeopleContainer .Item.People.Active > div {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ActionAndPeopleContainer .Item.People .Icon {
  display: inline-block;
  vertical-align: top;
  width: 52px;
  background: #fff;
  color: #040404;
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 26px;
  border-radius: 26px;
}
.ActionAndPeopleContainer .Item.People .Icon .Avatar {
  height: 52px;
  width: 52px;
}
.ActionAndPeopleContainer .Item.People .Icon.Yellow {
  background: #f99517;
  color: #fff;
}
.ActionAndPeopleContainer .Item.People .Icon > i {
  font-size: 30px;
  line-height: 52px;
}
.ActionAndPeopleContainer .Item.People .NameAndIDNumber {
  display: inline-block;
  vertical-align: top;
  width: 36.206896551724%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
}
.ActionAndPeopleContainer .Item.People .NameAndIDNumber > div {
  padding-top: 4px;
}
.ActionAndPeopleContainer .Item.People .Title {
  display: inline-block;
  line-height: 52px;
  color: #fff;
  padding-left: 8px;
}
.ActionAndPeopleContainer .Item.People .ScoreTitle {
  color: #149b99;
  padding-top: 4px;
  font-size: 12px;
}
.ActionAndPeopleContainer .Item.People .ScoreTitle .Up {
  color: #d0000b;
}
.ActionAndPeopleContainer .Item.People .ScoreTitle .Down {
  color: #33ff0a;
}
.ActionAndPeopleContainer .Item.People .ScoreValue {
  color: #149b99;
  font-size: 27px;
}
.ActionAndPeopleContainer .Item .btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}
.NumericKeypad .Key {
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 70px;
  line-height: 100px;
  text-align: center;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  text-shadow: 3px 3px 3px #333;
  background: #757575;
}
.NumericKeypad .Key i {
  font-size: 60px;
}
.NumericKeypad .Key.SmallText {
  font-size: 30px;
}
.NumericKeypad .Key.Active {
  background: #149b99;
}
.NumericKeypad .Key.Active.Touching {
  background: #757575;
  border: solid 1px #149b99;
}
.NumericKeypad .Key.Active.YellowKey {
  background: #f99517;
}
.NumericKeypad .Key.Active.YellowKey.Touching {
  background: #757575;
  border: solid 1px #f99517;
}
.NumericKeypad .Key.Active.OrangeKey {
  background: #f63017;
}
.NumericKeypad .Key.Active.OrangeKey.Touching {
  background: #757575;
  border: solid 1px #f63017;
}
.NumericKeypad .Key.NotFill {
  background: none;
  border: solid 1px #757575;
  color: #757575;
  text-shadow: none;
}
.NumericKeypad .Key.NotFill.Active {
  border: solid 1px #149b99;
  color: #149b99;
}
.NumericKeypad .Key.Row0 {
  top: 55px;
}
.NumericKeypad .Key.Column0 {
  left: 55px;
}
.NumericKeypad .Key.Row1 {
  top: 195px;
}
.NumericKeypad .Key.Column1 {
  left: 195px;
}
.NumericKeypad .Key.Row2 {
  top: 335px;
}
.NumericKeypad .Key.Column2 {
  left: 335px;
}
.NumericKeypad .Key.Row3 {
  top: 475px;
}
.NumericKeypad .Key.Column3 {
  left: 475px;
}
.NumericKeypad .Logout {
  position: absolute;
  top: 620px;
  left: 503px;
  color: #f99517;
  font-size: 16px;
}
.WorkingRecord .WorkItem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 210px;
  height: 210px;
  padding: 16px;
  overflow: hidden;
}
.WorkingRecord .WorkItem .Title {
  font-size: 20px;
  color: #149b99;
  text-shadow: 2px 2px 2px #000;
}
.WorkingRecord .WorkItem .ScoreSelectorContainer {
  padding-top: 15px;
}
.WorkingRecord .WorkItem .ScoreSelectorContainer .LeftArrow,
.WorkingRecord .WorkItem .ScoreSelectorContainer .RightArrow {
  width: 25px;
  display: none;
}
.WorkingRecord .WorkItem .ScoreSelectorContainer .ScoreSelector {
  width: 175px;
  font-size: 95px;
  font-weight: bold;
}
.WorkingRecord .WorkItem .ScoreSelectorContainer > div {
  line-height: 95px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color: #5e5e5e;
  text-shadow: 2px 2px 2px #000;
}
.WorkingRecord .WorkItem .Total {
  font-size: 16px;
  margin-top: 10px;
  color: #5e5e5e;
  text-shadow: 1px 1px 1px #000;
}
.WorkingRecord .WorkItem .LastModified {
  font-size: 12px;
  margin-top: 5px;
  color: #5e5e5e;
  text-shadow: 1px 1px 1px #000;
}
.WorkingRecord .WorkItem.Active {
  background: #149b99;
}
.WorkingRecord .WorkItem.Active .Title,
.WorkingRecord .WorkItem.Active .Total,
.WorkingRecord .WorkItem.Active .LastModified {
  color: #fff;
}
.WorkingRecord .WorkItem.Active .ScoreSelectorContainer .LeftArrow,
.WorkingRecord .WorkItem.Active .ScoreSelectorContainer .RightArrow {
  display: inline-block;
}
.WorkingRecord .WorkItem.Active .ScoreSelectorContainer .ScoreSelector {
  width: 125px;
  color: #fff;
}
.WorkingRecord .WorkItem.Active .ScoreSelectorContainer > div {
  color: #fff;
  text-shadow: 3px 3px 3px #333;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
